<!DOCTYPE html>
<html>
  <head>
    <title>Sarahdactyl71GithubIo</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <header class="main-header">
        <h1 class="name"><a href="#">Sarah Kirk</a></h1>
        <ul class="main-nav">
            <li><a href="#">ABOUT</a></li>
            <li><a href="https://github.com/sarahdactyl71" target="_blank">GITHUB</a></li>
            <li><%= link_to "BLOG", articles_path %></li>
            <li><a href="#">CONTACT ME</a></li>
        </ul>
    </header><!--/.main-header-->
  <div class="banner">
        <img class="profile" src='sarah_flatiron.jpg' alt="Picture of Sarah">
        <h1 class="headline">Sarah Kirk</h1>
        <span class="tagline">SOFTWARE ENGINEER  | ARTIST | OUTDOOR ENTHUSIAST</span>
    </div><!--/.banner-->
    <%= yield %>
  </body>
</html>
